<p-menubar [model]="items" class="nav">
  <p-button
    label="Sign Up"
    icon="pi pi-sign-in"
    [routerLink]="['/register-user']"
  ></p-button>
</p-menubar>

<div class="authBlock">
  <h3>Reset Password</h3>
  <p class="text-center">
    Please enter your email address to request a password reset.
  </p>

  <span class="p-float-label p-input-icon-left spacing">
    <i class="pi pi-at"></i>
    <input
      id="float-input"
      #userName
      required
      type="email"
      pInputText
      [(ngModel)]="passwordResetEmail"
    />
    <label for="float-input">Email</label>
  </span>
  <!-- Calling ForgotPassword from AuthService Api -->

  <p-button
    label="Reset Password"
    type="submit"
    icon="pi pi-send"
    (onClick)="authService.ForgotPassword(passwordResetEmail)"
  ></p-button>
  <button
    pButton
    pRipple
    type="button"
    [routerLink]="['/sign-in']"
    label="Go back to sign in"
    class="p-button-text"
  ></button>
</div>
