<h5>Advanced with Templating, Filtering and Multiple Selection</h5>
<p-listbox
  [options]="users"
  [(ngModel)]="selectedUser"
  [metaKeySelection]="false"
  [checkbox]="true"
  [filter]="true"
  [multiple]="true"
  optionLabel="name"
  [listStyle]="{ 'max-height': '250px' }"
  [style]="{ width: '15rem' }"
>
  <ng-template let-user pTemplate="item">
    <div class="user-item">
      <p-avatar
        image="{{ user.photoURL ? user.photoURL : 'assets/dummy-user.png' }}"
        styleClass="mr-2"
        size="xlarge"
        shape="circle"
      ></p-avatar>
      <div>{{ user.displayName }}</div>
    </div>
  </ng-template>
</p-listbox>
