<div class="card">
  <div class="card-container overflow-hidden">
    <div class="flex">
      <div
        class="flex-auto flex-wrap flex align-items-center justify-content-center font-bold text-white m-2 px-5 py-3 border-round"
      >
        <p-listbox
          class="flex-initial flex align-items-center justify-content-center font-bold text-white m-2 border-round"
          [options]="users"
          [(ngModel)]="selectedUser"
          [metaKeySelection]="false"
          [checkbox]="true"
          [filter]="true"
          [multiple]="true"
          optionLabel="name"
          [listStyle]="{ 'max-height': '250px' }"
          [style]="{ width: '15rem' }"
        >
          <ng-template let-user pTemplate="item">
            <div class="user-item">
              <p-avatar
                image="{{
                  user.photoURL ? user.photoURL : 'assets/dummy-user.png'
                }}"
                styleClass="mr-2"
                size="xlarge"
                shape="circle"
              ></p-avatar>
              <div>{{ user.displayName }}</div>
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </div>
</div>
