<!-- Top navigation -->
<p-menubar [model]="items" class="nav">
  <button
    pButton
    pRipple
    type="button"
    label="Sign out"
    class="p-button-danger"
    icon="pi pi-sign-out"
    (click)="authService.SignOut()"
  ></button>
</p-menubar>
<div class="authBlock" *ngIf="authService.userData as user">
  <div class="col-md-12">
    <div class="media">
      <p-image
        src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
        alt="{{ user.displayName }}"
        width="250"
        [preview]="true"
      ></p-image>
      <div class="media-body">
        <h1>
          Hello:
          <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
        </h1>
        <p>
          User ID: <strong>{{ user.uid }}</strong>
        </p>
        <p>
          Email: <strong>{{ user.email }}</strong>
        </p>
        <p>
          Email Verified: <strong>{{ user.emailVerified }}</strong>
        </p>
      </div>
    </div>
  </div>
</div>
