<p-card
  class="flex-initial flex align-items-center justify-content-center font-bold text-white m-2 border-round"
  [header]="header"
  [subheader]="subHeader"
  [style]="{ 'min-width': '15rem', 'max-width': '30rem' }"
>
  <ng-template pTemplate="header">
    <div class="flex">
      <div
        class="flex-auto flex align-items-center justify-content-center font-bold text-white m-2 px-7 border-round"
      >
        <p-image
          src="{{ imageUrl ? imageUrl : 'assets/pgs.png' }}"
          alt="stuff"
        ></p-image>
      </div>
    </div>
  </ng-template>
  <p>
    {{ description }}
  </p>
  <ng-template pTemplate="footer">
    <p-button
      label="Create Game"
      [disabled]="disabled"
      icon="pi pi-play"
      (onClick)="createGame()"
    ></p-button>
  </ng-template>
</p-card>
