.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	& > * {
		margin: 1rem;
	}
}

// Documentation on local styling https://www.primefaces.org/primeng/theming
:host ::ng-deep .p-card {
  .p-card-subtitle {
    word-break: break-word
  }
  .p-card-content {
    padding: 0.5rem 0rem;
    p {
      margin: 0.5rem 0;
    }
  }
}